<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="color:#fff; padding-left: 5%">About Us</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div align="center" style="margin-top: 3%;">
    <img height="40%" width="40%" src="assets/logo.png" style="margin-bottom: 2rem;"/>
  </div>

  <div class="pl-4 pr-4">
    <p class="text-sm text-justify">
      Amruta's Fesh Chicken Amruta Hatcheries & Foods in Amravati is one of the leading businesses in the Chicken
      Retailers Also known for Chicken Retailers Cicken Home Delivery, Chik Distributors Chick Wholesalers, Broiler
      Chicken wholesalers, Halal Chicken Retailers Chicken exporter and much more. Amruta Hatcheries & Foods in Dastur
      Nagar has a wide range of products and / or Services to cater to the varied of their customers. The staff at ilis
      establishment courteous and prompt at providing any assistance. They answer any queries or questions that you may
      have pay for the product or service.
    </p>
  </div>

  <div class="p-2" align="center">
    <ion-label class="text-black font-bold text-lg">Amruta's fresh Chicken</ion-label>
    <p class="text-sm pt-1">Plot No 3, Bhagyoda Colony, Near Gondbaba Mandir, Old Bypass Road, Dastur Nagar,
      Amravati Maharashtra - 44605</p>
  </div>

  <div class="mt-2" style="padding:0 1rem;">
    <button class="btn-grad" (click)="makeCall()">
      Call Now
    </button>
  </div>
</ion-content>
