

<ion-content>
  <div class="img_conn" style="background-image: url('../../../assets/bg_img1.png')"></div>

  <div align="center" style="margin-top: -20%;">
    <img class="shadow-t-md" height="40%" width="40%" src="assets/logo.png" style="margin-bottom: 2rem;"/>
  </div>

  <!-- <div>
    <div align="center" class="p-10">
      <img height="40%" width="40%" src="assets/images/logo.png" />
    </div>
  </div> -->

  <div style="z-index: 10000; margin-top: -10%;" class="bg-white rounded-tl-3xl rounded-tr-3xl p-4">
    <form #form="ngForm" class="login100-form validate-form">
      
      <ion-item>
      <ion-label position="floating">Mobile Number</ion-label>
      <ion-input type="number" name="mob" ngModel required #unamectrl="ngModel"></ion-input>
    </ion-item>
    <ion-item class="mt-2">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" name="pass" ngModel required ></ion-input>
    </ion-item>
    <p align="left" class="p-2 text-sm" routerLink="/forgetpass" style="color: #FF7B00; ">Forget Password ? </p>
    <div class="mt-2">
      <button class="btn-grad" (click)="onSubmit(form)">
        Login
      </button>
      <p class="text-gray-700 text-base text-center pt-2 ">
        Don't Have an Account? <span style="color: #FF7B00;" routerLink="/register">Sign Up</span>
      </p>
    </div>
  </form>

  </div>
  <div *ngIf="loader_visible" class="lds-ripple">
    <div></div>
    <div></div>
  </div>

  <div id="snackbar"> <span id="snackbar_error"></span></div>

</ion-content>
