* {
  font-family: 'Ubuntu', sans-serif !important;
}
.scroll-content {
  overflow-y: hidden;
}
.itemsdiv{
  img{
    width: 100%;
    height: 4rem;
    border-radius: 0.5rem;
    object-fit: cover;
  }
  p{
    font-size: small;
    color: black;
    font-family: bold;
  }
  span{
    color: rgb(83, 82, 82);
  }
}


.img1 {
  height: 170px;
  width: 100%;
  border-radius: 10px;
  object-fit: fill;
  overflow: hidden;
}

.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1%;
}

.header_title {
  letter-spacing: 1px;
  font-size: 1.4em;
  font-weight: bold;
  color: #fff;
  text-align: center;
  font-family: 'Acme', sans-serif !important;

}

.login100-form-btn {
  letter-spacing: 1px;
  color: var(--ion-color-medium2);
  border: 1px solid var(--ion-color-dark);
  font-size: 0.8em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 2px;
  padding: 0.3em 1.8em;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.imgContainer {
  width: 60px;
  height: 60px;
}

.product_cart {
  // box-shadow: none;
  box-shadow: rgba(121, 121, 121, 0.05) 1px 1px 16px;  border-top-left-radius:0.3rem;
  border-bottom-left-radius:0.2rem;
  border: #e0dddd 1px solid;
  ion-col {
    padding: 0 !important;
  }

  ion-row {
    padding: 0 !important;
  }

 

  .imgcard {
    margin: auto;
    height:5rem;
    width: auto;
    border-radius: 0.5rem;
    float: left;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
  }

  .padding_10 {
    padding-top: 0.5vh !important;
  }

  ion-label {
    p {
      padding: 2% 5%;
      font-size: 0.85rem;
      //text-overflow: ellipsis;
      //white-space: nowrap;
     // overflow: hidden;
      color: var(--ion-color-dark);
      padding-right: 5%;
      // font-weight: 900;
      font-weight: bold;
    }
  }

  .rate_label {
    padding-left: 2vh;
    padding-bottom: 2vh;
    margin-bottom:1rem;
    color: var(--ion-color-medium);
    font-size: 1rem;
  }
}

.add_btn{
  background-color: var(--ion-color-primary);
  font-weight: bold;
  font-size: 1rem;
  border-radius: 50%;
  padding: 0.2rem;
  margin-left: 1rem;
  ion-icon{
    color:#FFF;
  }
}

.main_slider {
  -webkit-animation: slide-in-bck-center 0.7s cubic-bezier(.25, .46, .45, .94) both;
  animation: slide-in-bck-center 0.7s cubic-bezier(.25, .46, .45, .94) both;
  padding: 3% 2%;

  .slide_s {
    height: 20vh;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(141, 161, 255, 0.17);
    -webkit-box-shadow: 1px 1px 5px 1px rgba(141, 161, 255, 0.17);
    -moz-box-shadow: 1px 1px 5px 1px rgba(141, 161, 255, 0.17);

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      border-radius: 5px;
    }
  }
}
.ion_toolbar{
  color: var(--ion-color-dark);
  margin-bottom:0;
}

// .wall-post .img4 {
//   width: 50%;
//   float: left;
//   height: 120px;
// }
// .img4 > img {
//   height: 100%;
//   width: 100%;
//   object-fit: cover;
// }