// .curved{
//     background: linear-gradient(147deg, #058df9 10%, #021B79 100%);
//     text-align: center;
//     color: #fff;
//     margin: 0;
//     padding: 0;
// }
// .curved svg{
//     display: block;
// }
.img_conn{
    height: 30vh;
    width: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
}
.primary-color{
    color:var(--ion-color-primary);
}
ion-input{
    color:#000;
}

























